In [1]:
import pandas as pd
import seaborn as sn
import matplotlib as plt

In [14]:
df = pd.read_csv('london_weekends.csv')

In [15]:
df.head()

,Unnamed: 0,realSum,room_type,room_shared,room_private,person_capacity,host_is_superhost,multi,biz,cleanliness_rating,guest_satisfaction_overall,bedrooms,dist,metro_dist,attr_index,attr_index_norm,rest_index,rest_index_norm,lng,lat
0,0,121.122322,Private room,False,True,2.0,False,0,0,6.0,69.0,1,5.734117,0.437094,222.882243,15.493414,470.088502,8.413765,-0.04975,51.52570
1,1,195.912416,Private room,False,True,2.0,False,1,0,10.0,96.0,1,4.788905,1.464050,235.385841,16.362588,530.133525,9.488466,-0.08475,51.54210
2,2,193.325337,Private room,False,True,3.0,False,1,0,10.0,95.0,1,4.596677,0.450306,268.913812,18.693247,548.987610,9.825922,-0.14585,51.54802
3,3,180.389943,Private room,False,True,2.0,False,1,0,9.0,87.0,1,2.054769,0.132670,472.381314,32.837067,1021.271062,18.278973,-0.10611,51.52108
4,4,405.700981,Entire home/apt,False,False,3.0,False,0,1,7.0,65.0,0,4.491277,0.354108,318.491470,22.139584,692.775411,12.399473,-0.18797,51.49399

In [16]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5379 entries, 0 to 5378
Data columns (total 20 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   Unnamed: 0                  5379 non-null   int64
 1   realSum                     5379 non-null   float64
 2   room_type                   5379 non-null   object
 3   room_shared                 5379 non-null   bool
 4   room_private                5379 non-null   bool
 5   person_capacity             5379 non-null   float64
 6   host_is_superhost           5379 non-null   bool
 7   multi                       5379 non-null   int64
 8   biz                         5379 non-null   int64
 9   cleanliness_rating          5379 non-null   float64
 10  guest_satisfaction_overall  5379 non-null   float64
 11  bedrooms                    5379 non-null   int64
 12  dist                        5379 non-null   float64
 13  metro_dist                  5379 non-null   float64
 14  attr_index                  5379 non-null   float64
 15  attr_index_norm             5379 non-null   float64
 16  rest_index                  5379 non-null   float64
 17  rest_index_norm             5379 non-null   float64
 18  lng                         5379 non-null   float64
 19  lat                         5379 non-null   float64
dtypes: bool(3), float64(12), int64(4), object(1)
memory usage: 730.3+ KB

In [17]:
print(df['room_type'].value_counts())

Private room       2934
Entire home/apt    2418
Shared room          27
Name: room_type, dtype: int64

In [18]:
df = df.drop(['Unnamed: 0', 'room_shared', 'room_private', 'multi', 
             'biz', 'attr_index', 'attr_index_norm', 'rest_index', 'rest_index_norm', 'lng', 'lat'], axis=1)

In [19]:
df.head()

,realSum,room_type,person_capacity,host_is_superhost,cleanliness_rating,guest_satisfaction_overall,bedrooms,dist,metro_dist
0,121.122322,Private room,2.0,False,6.0,69.0,1,5.734117,0.437094
1,195.912416,Private room,2.0,False,10.0,96.0,1,4.788905,1.464050
2,193.325337,Private room,3.0,False,10.0,95.0,1,4.596677,0.450306
3,180.389943,Private room,2.0,False,9.0,87.0,1,2.054769,0.132670
4,405.700981,Entire home/apt,3.0,False,7.0,65.0,0,4.491277,0.354108